
* {
    box-sizing: border-box;
    padding: 0;
    margin-top: 0.7rem;
}

body {
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
}

.slider {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}


.slides {
    width: 500%;
    height: 500px;
    display: flex;


}

